{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-blue-700 mb-4">{{ page_title }}</h1>
    
    <img src="{% static 'images/banner.png' %}" alt="Nexar Institute Banner" class="w-full h-64 sm:h-96 object-cover rounded-lg mb-6">
    <p class="text-lg mb-6">
        Nexar Institute of Health Sciences and Business Studies, founded in August 2023, is dedicated to offering high-quality education and skills necessary for optimum health conditions and business leadership in the community and beyond.
    </p>

    <div class="grid md:grid-cols-2 gap-6 mb-8">
        <div class="bg-blue-50 p-6 rounded-lg">
            <h2 class="text-2xl font-semibold text-blue-800 mb-2">Our Mission</h2>
            <p>To offer high quality education and skills necessary for students to assure optimum health conditions in the community and beyond. Narrowing skill gaps in healthcare and business while democratizing access to quality learning to pioneer economic growth, human development and innovation.</p>
        </div>
        <div class="bg-green-50 p-6 rounded-lg">
            <h2 class="text-2xl font-semibold text-green-800 mb-2">Our Vision</h2>
            <p>Nexar Institute envisions a dynamic future where excellence in education and practical skills meet to redefine success in healthcare and business. We aspire to be the catalyst for transformative growth, producing ethical leaders, fostering innovation, and driving Zambia's prosperity and sustainability on a global stage.</p>
        </div>
    </div>

    <div class="text-center">
        <a href="{% url 'programs:program_list' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300 inline-block mr-4">
            Explore Our Programs
        </a>
         <a href="{% url 'admissions:info' %}" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300 inline-block">
            Learn About Admissions
        </a>
    </div>
</div>
{% endblock %}